{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>Au Bois d'Alice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <link rel="icon"
          type="image/x-icon"
          href="/website/static/img/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/alice.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}
    {% endblock %}

    <script>
        var global_gallery = {};
        var current_photo = 0;
        function onload(){
            $('#gallery-photos').on('hidden.bs.modal', function (e) {
                global_gallery = {};
                current_photo = 0;
                $('#alice-photo').attr('src', '');
            });
        }
    </script>

</head>
<body onload="onload()">
<div class="container-fluid">
    {% bootstrap_messages %}
    <div class="engrenage1"></div>
    <div class="horloge"></div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <img class="col-xs-8 col-sm-8 col-xs-offset-2 col-sm-offset-2" src="../static/img/bandeau2.png">
        </div>
    </div>



    <nav class="col-md-12 col-lg-12 navbar-alice">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-nav-alice">
            <ul>
                <li><a href="{% url "home" %}"><span {% if nav_id == "home" %}class="alice-pink"{% endif %}>Accueil</span></a></li>
                <li> ~ </li>
                <li><a href="{% url "galerie" %}"><span {% if nav_id == "galerie" %}class="alice-pink"{% endif %}>Galerie</span></a></li>
                <li> ~ </li>
                <li><a href="{% url "prestation" %}"><span {% if nav_id == "prestation" %}class="alice-pink"{% endif %}>Prestations</span></a></li>
                <li> ~ </li>
                <li><a href="{% url "map" %}"><span {% if nav_id == "map" %}class="alice-pink"{% endif %}>Nous Trouver</span></a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-md-8 col-lg-8 alice-banner">
            <img src="../static/img/caroussel/baniere6.png" class="caroussel-img">
        </div>
    </div>

    <div class="col-lg-offset-1 col-md-offset-1 col-md-3 col-lg-3">
        <div class="alice-panel col-md-12 col-lg-12">
            <div class="panel-heading alice-title-background1 col-md-12 col-lg-12">
                <div class="alice-title main-color"><b>Artisan Fleuriste</b></div>
            </div>
            <div class="panel-body col-md-12 col-lg-12 alice-left-panel">
                <div class="col-md-12 col-lg-12"><p><span class="glyphicon glyphicon-leaf alice-pink"></span> 13 Rue Proudhon<br>34090 Montpellier</p></div>
                <div class="col-md-12 col-lg-12"><p><span class="glyphicon glyphicon-leaf alice-pink"></span><span class="alice-text"> Tel:</span> 09 83 06 38 03</p></div>
                <div class="col-md-10 col-lg-10"><p><span class="glyphicon glyphicon-leaf alice-pink"></span><span class="alice-text"> Mail:</span> marie@auboisdalice.fr</p></div>
                <div class="col-md-10 col-lg-10"><p><span class="glyphicon glyphicon-leaf alice-pink"></span><span class="alice-text"><a href="http://auboisdalice.florajet.com/"> FloraJet</a></span></p></div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
