{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-7 col-lg-7">
    <div class="alice-panel-prestation-left col-md-6 col-lg-6">
        <div class="alice-title">Pour les Mariés:</div>
        <div><b><i>La Mariée</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Bouquet Tiges Naturelles:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 50€</span></li>
                <li><span>Bouquet Struturé:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 80€</span></li>
                <li><span>Bouquet Cascade:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 100€</span></li>
                <li><span>Bouquet Glamelia Uni:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 120€</span></li>
            </ul>
        </div>
        <div><b><i>Boutonnière du Marié</i></b></div>
        <div>
            <ul class="presta-list">
                <li> Offerte si réalisation du bouquet de la mariée</li>
                <li> Sinon à partir de 8€</li>
            </ul>
        </div>
        <div><b><i>Autre</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Bijou Floral:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 30€</span></li>
                <li><span>Couronne:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 55€</span></li>
            </ul>
        </div>
    </div>
    <div class="alice-panel-prestation col-md-6 col-lg-6">
        <div class="alice-title">Pour le Mariage</div>
        <div><b><i>Demoiselle d'Honneur</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Bracelet:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 15€</span></li>
                <li><span>Bouquet:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 20€</span></li>
            </ul>
        </div>
        <div><b><i>Décoration de la Voiture</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Composition pour capot:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 100€</span></li>
            </ul>
        </div>
        <div><b><i>Pour le lieu de Culte</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Banc d'Eglise:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 12€</span></li>
                <li><span>Bouquet à la Vierge:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 25€</span></li>
                <li><span>Devant d'Hotel:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 80€</span></li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}