{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-7 col-lg-7">
    <div class="alice-panel col-md-12 col-lg-12">
        <div class="alice-title main-color"><b>N'hesitez pas à nous Contacter</b></div>
        <div style="text-align: center">marie@auboisdalice.fr ~ 09 83 06 38 03</div>
    </div>
    <div class="alice-panel-prestation-left col-md-6 col-lg-6 presta-shadow">
        <div class="alice-title"><span class="glyphicon glyphicon-heart-empty presta-title-icon-left"></span><b>Pour les Mariés:</b><span class="glyphicon glyphicon-heart-empty presta-title-icon-right"></span></div>
        <div class="alice-title"> ~ </div>
        <div><b><i>La Mariée</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Bouquet Tiges Naturelles:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 50€</span></li>
                <li><span>Bouquet Struturé:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 80€</span></li>
                <li><span>Bouquet Cascade:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 100€</span></li>
                <li><span>Bouquet Glamelia Uni:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 120€</span></li>
            </ul>
        </div>
        <div><b><i>Boutonnière du Marié</i></b></div>
        <div>
            <ul class="presta-list">
                <li> Offerte si réalisation du bouquet de la mariée</li>
                <li> Sinon à partir de 8€</li>
            </ul>
        </div>
        <div><b><i>Autre</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Bijou Floral:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 30€</span></li>
                <li><span>Couronne:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 55€</span></li>
            </ul>
        </div>
    </div>
    <div class="alice-panel-prestation col-md-6 col-lg-6 presta-shadow">
        <div class="alice-title"><span class="glyphicon glyphicon-star-empty presta-title-icon-left"></span><b>Pour le Mariage:</b><span class="glyphicon glyphicon-star-empty presta-title-icon-right"></span></div>
        <div class="alice-title"> ~ </div>
        <div><b><i>Demoiselle d'Honneur</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Bracelet:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 15€</span></li>
                <li><span>Bouquet:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 20€</span></li>
            </ul>
        </div>
        <div><b><i>Décoration de la Voiture</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Composition pour capot:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 100€</span></li>
            </ul>
        </div>
        <div><b><i>Pour le lieu de Culte</i></b></div>
        <div>
            <ul class="presta-list">
                <li><span>Banc d'Eglise:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 12€</span></li>
                <li><span>Bouquet à la Vierge:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 25€</span></li>
                <li><span>Devant d'Hotel:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 80€</span></li>
            </ul>
        </div>
    </div>
        <div class="alice-panel-prestation-right col-md-6 col-lg-6 presta-shadow">
        <div class="alice-title"><span class="glyphicon glyphicon-glass presta-title-icon-left"></span><b>Pour les Réceptions:</b><span class="glyphicon glyphicon-glass presta-title-icon-right"></span></div>
        <div class="alice-title"> ~ </div>
        <div>
            <ul class="presta-list">
                <li><span>Centre de table:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 25€</span></li>
                <li><span>Centre de table d'Honneur:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 50€</span></li>
                <li><span>Composition de Buffet:</span><span class="presta-prix"><span style="font-size: 10px">à partir de</span> 50€</span></li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}